@import url("https://fonts.googleapis.com/css?family=Ubuntu&display=swap");
body {
  font-family: "Ubuntu", sans-serif;
  font-size: 14px;
  -webkit-print-color-adjust: exact !important;
}
@media screen {
  body {
    width: 8in;
  }
}
body h1 {
  font-size: 1.5em;
}
body h2 {
  font-size: 1.25em;
}

.character {
  display: grid;
  grid-template-columns: 0.25fr 0.75fr 1fr 1fr;
  grid-template-areas: "header     header     header     header" "stats      saves      combat     features" "stats      skills     combat     features" "stats      skills     combat     limited-features" "stats      skills     items      limited-features" "stats      skills     attacks    attacks" "spell-list spell-list spell-list spell-list";
  grid-row-gap: 10px;
  grid-column-gap: 10px;
  line-height: 1.3;
}
.character header {
  grid-area: header;
  display: grid;
  grid-template-areas: "name class bkg        player-name" "name race  alignment  xp";
}
.character header .name {
  grid-area: name;
  align-self: center;
  font-size: 28px;
}
.character header .class-level {
  grid-area: class;
  position: relative;
  height: 34.85px;
}
.character header .class-level::after {
  content: "Class & Level";
  display: block;
  font-size: 10.5px;
  border-top: solid 1px lightgrey;
  position: absolute;
  bottom: 0;
  width: 100%;
  margin-bottom: 3px;
}
.character header .background {
  grid-area: bkg;
  position: relative;
  height: 34.85px;
}
.character header .background::after {
  content: "Background";
  display: block;
  font-size: 10.5px;
  border-top: solid 1px lightgrey;
  position: absolute;
  bottom: 0;
  width: 100%;
  margin-bottom: 3px;
}
.character header .player-name {
  grid-area: player-name;
  position: relative;
  height: 34.85px;
}
.character header .player-name::after {
  content: "Player Name";
  display: block;
  font-size: 10.5px;
  border-top: solid 1px lightgrey;
  position: absolute;
  bottom: 0;
  width: 100%;
  margin-bottom: 3px;
}
.character header .race {
  grid-area: race;
  position: relative;
  height: 34.85px;
}
.character header .race::after {
  content: "Race";
  display: block;
  font-size: 10.5px;
  border-top: solid 1px lightgrey;
  position: absolute;
  bottom: 0;
  width: 100%;
  margin-bottom: 3px;
}
.character header .alignment {
  grid-area: alignment;
  position: relative;
  height: 34.85px;
}
.character header .alignment::after {
  content: "Alignment";
  display: block;
  font-size: 10.5px;
  border-top: solid 1px lightgrey;
  position: absolute;
  bottom: 0;
  width: 100%;
  margin-bottom: 3px;
}
.character header .xp {
  grid-area: xp;
  position: relative;
  height: 34.85px;
}
.character header .xp::after {
  content: "Experience Points";
  display: block;
  font-size: 10.5px;
  border-top: solid 1px lightgrey;
  position: absolute;
  bottom: 0;
  width: 100%;
  margin-bottom: 3px;
}
.character .prof-bonus {
  grid-area: prof;
  border: solid #ccc 4px;
  border-radius: 3px;
  padding: 4px;
  position: relative;
  padding-bottom: 15.5px;
  text-align: center;
  font-size: 28px;
}
.character .prof-bonus::after {
  content: "Proficiency Bonus";
  display: block;
  font-size: 10.5px;
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: white;
  left: 0;
  padding-top: 5px;
}
.character .stats {
  grid-area: stats;
  display: grid;
  row-gap: 10px;
}
.character .stats .stat {
  border: solid #ccc 4px;
  border-radius: 3px;
  padding: 4px;
  text-align: center;
}
.character .stats .stat .title {
  display: block;
  font-variant: small-caps;
  font-size: 10.5px;
}
.character .stats .stat .bonus {
  display: block;
  font-size: 28px;
}
.character .stats .stat .value {
  display: block;
}
.character .saves {
  grid-area: saves;
  border: solid #ccc 4px;
  border-radius: 3px;
  padding: 4px;
  position: relative;
  padding-bottom: 15.5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.character .saves::after {
  content: "Saves";
  display: block;
  font-size: 10.5px;
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: white;
  left: 0;
  padding-top: 5px;
}
.character .saves .save .value {
  display: inline-block;
  width: 4ch;
  text-align: right;
}
.character .skills {
  grid-area: skills;
  border: solid #ccc 4px;
  border-radius: 3px;
  padding: 4px;
  position: relative;
  padding-bottom: 15.5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.character .skills::after {
  content: "Skills";
  display: block;
  font-size: 10.5px;
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: white;
  left: 0;
  padding-top: 5px;
}
.character .skills .value {
  display: inline-block;
  width: 5ch;
  text-align: right;
}
.character .combat {
  grid-area: combat;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-areas: "max-hp   ac          prof-bonus" "hp       hp          initiative" "hit-dice death-saves speed";
  grid-gap: 10px;
}
.character .combat .max-hp,
.character .combat .prof-bonus,
.character .combat .ac,
.character .combat .initiative,
.character .combat .speed {
  border: solid #ccc 4px;
  border-radius: 3px;
  padding: 4px;
  text-align: center;
  font-size: 28px;
}
.character .combat .ac {
  grid-area: ac;
  position: relative;
  padding-bottom: 15.5px;
}
.character .combat .ac::after {
  content: "Armor Class";
  display: block;
  font-size: 10.5px;
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: white;
  left: 0;
  padding-top: 5px;
}
.character .combat .initiative {
  grid-area: initiative;
  position: relative;
  padding-bottom: 15.5px;
}
.character .combat .initiative::after {
  content: "Initiative";
  display: block;
  font-size: 10.5px;
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: white;
  left: 0;
  padding-top: 5px;
}
.character .combat .speed {
  grid-area: speed;
  position: relative;
  padding-bottom: 15.5px;
}
.character .combat .speed::after {
  content: "Speed";
  display: block;
  font-size: 10.5px;
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: white;
  left: 0;
  padding-top: 5px;
}
.character .combat .hp {
  grid-area: hp;
  border: solid #ccc 4px;
  border-radius: 3px;
  padding: 4px;
  position: relative;
  padding-bottom: 15.5px;
}
.character .combat .hp::after {
  content: "Current Hit Points";
  display: block;
  font-size: 10.5px;
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: white;
  left: 0;
  padding-top: 5px;
}
.character .combat .max-hp {
  grid-area: max-hp;
  border: solid #ccc 4px;
  border-radius: 3px;
  padding: 4px;
  position: relative;
  padding-bottom: 15.5px;
}
.character .combat .max-hp::after {
  content: "Maximum Hit Points";
  display: block;
  font-size: 10.5px;
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: white;
  left: 0;
  padding-top: 5px;
}
.character .combat .prof-bonus {
  grid-area: prof-bonus;
  border: solid #ccc 4px;
  border-radius: 3px;
  padding: 4px;
  position: relative;
  padding-bottom: 15.5px;
}
.character .combat .prof-bonus::after {
  content: "Proficiency Bonus";
  display: block;
  font-size: 10.5px;
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: white;
  left: 0;
  padding-top: 5px;
}
.character .combat .hit-dice {
  grid-area: hit-dice;
  border: solid #ccc 4px;
  border-radius: 3px;
  padding: 4px;
  position: relative;
  padding-bottom: 15.5px;
}
.character .combat .hit-dice::after {
  content: "Hit Dice";
  display: block;
  font-size: 10.5px;
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: white;
  left: 0;
  padding-top: 5px;
}
.character .combat .death-saves {
  grid-area: death-saves;
  border: solid #ccc 4px;
  border-radius: 3px;
  padding: 4px;
  position: relative;
  padding-bottom: 15.5px;
}
.character .combat .death-saves::after {
  content: "Death Saves";
  display: block;
  font-size: 10.5px;
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: white;
  left: 0;
  padding-top: 5px;
}
.character .limited-features {
  grid-area: limited-features;
  border: solid #ccc 4px;
  border-radius: 3px;
  padding: 4px;
  position: relative;
  padding-bottom: 15.5px;
}
.character .limited-features::after {
  content: "Limited Features";
  display: block;
  font-size: 10.5px;
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: white;
  left: 0;
  padding-top: 5px;
}
.character .items {
  grid-area: items;
  border: solid #ccc 4px;
  border-radius: 3px;
  padding: 4px;
  position: relative;
  padding-bottom: 15.5px;
}
.character .items::after {
  content: "Items";
  display: block;
  font-size: 10.5px;
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: white;
  left: 0;
  padding-top: 5px;
}
.character .features {
  grid-area: features;
  border: solid #ccc 4px;
  border-radius: 3px;
  padding: 4px;
  position: relative;
  padding-bottom: 15.5px;
}
.character .features::after {
  content: "Features";
  display: block;
  font-size: 10.5px;
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: white;
  left: 0;
  padding-top: 5px;
}
.character .attacks {
  grid-area: attacks;
  border: solid #ccc 4px;
  border-radius: 3px;
  padding: 4px;
  position: relative;
  padding-bottom: 15.5px;
}
.character .attacks::after {
  content: "Attacks";
  display: block;
  font-size: 10.5px;
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: white;
  left: 0;
  padding-top: 5px;
}
.character .spell-list {
  grid-area: spell-list;
  border: solid #ccc 4px;
  border-radius: 3px;
  padding: 4px;
  position: relative;
  padding-bottom: 15.5px;
  columns: 4;
}
.character .spell-list::after {
  content: "Spells";
  display: block;
  font-size: 10.5px;
  position: absolute;
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: white;
  left: 0;
  padding-top: 5px;
}
.character .spell-list h3 {
  margin: 0;
}
.character .spell-list ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
  margin-bottom: 10px;
}

.lists {
  page-break-before: always;
}
.lists .collapse {
  page-break-inside: avoid;
}
.lists .collapse .columns {
  column-count: 2;
}
.lists .collapse .columns .column-item {
  page-break-inside: avoid;
  border-top: solid 2px;
  border-bottom: solid 2px;
  margin-bottom: -2px;
}

table {
  border-collapse: collapse;
  width: 100%;
}
table th {
  font-size: 10.5px;
  text-align: left;
  font-weight: inherit;
  color: #666;
}
table tbody tr:not(:last-child) td {
  border-bottom: solid 1px #666;
}
table tbody .used {
  padding-left: 2ch;
  text-align: right;
}

.used {
  white-space: nowrap;
}
.used .use {
  display: inline-block;
  border: solid 1px;
  width: 0.7em;
  height: 0.7em;
}
.used .use:not(:last-child) {
  margin-right: 2px;
}

.collapse input {
  display: none;
}
.collapse input:not(:checked) + .collapse-header + .collapse-body {
  display: none;
}
.collapse h1 {
  background: #eee;
  border-radius: 4px;
  padding: 4px;
}
@media print {
  .collapse input:not(:checked) + .collapse-header {
    display: none;
  }
}
@media screen {
  .collapse .collapse-header::before {
    display: block;
    content: " ";
    float: left;
    border-right: #666 solid 1px;
    border-bottom: #666 solid 1px;
    width: 0.5em;
    height: 0.5em;
    transform: rotate(-45deg);
    margin: calc(0.5em + 4px);
  }
  .collapse input:checked + .collapse-header::before {
    transform: rotate(45deg);
  }
}
