@import url("https://fonts.googleapis.com/css?family=Ubuntu&display=swap");

$font-size: 14px;
$small-font-size: $font-size * 0.75;
$large-font-size: $font-size * 2;
$line-height: 1.3;

@mixin border {
    border: solid lightgrey;
    border-radius: 4px;
    padding: 4px;
}

@mixin bottom-text($text) {
    $top-padding: 5px;
    position: relative;
    padding-bottom: $small-font-size + $top-padding;

    &::after {
        content: $text;
        display: block;
        font-size: $small-font-size;
        position: absolute;
        bottom: 0;
        width: 100%;
        text-align: center;
        background-color: white;
        left: 0;
        padding-top: $top-padding;
    }
}

@mixin lined {
    background-image: linear-gradient(lightgrey 1px, transparent 0);
    background-size: 100% #{$line-height * 1em};
}

body {
    -webkit-print-color-adjust: exact !important;

    @media screen {
        width: 8in;
    }
}

.character {
    font-family: "Ubuntu", sans-serif;
    font-size: $font-size;
    display: grid;
    grid-template-columns: 0.25fr 0.75fr 1fr 1fr;
    // grid-template-rows: 64px 64px 128px 256px;
    grid-template-areas:
        "header header header           header"
        "stats  saves  combat           items"
        "stats  skills combat           items"
        "stats  skills combat           features"
        "stats  skills limited-features features";
    grid-row-gap: 10px;
    grid-column-gap: 10px;
    line-height: $line-height;

    header {
        grid-area: header;

        display: grid;

        // grid-template-columns: auto;
        // grid-template-rows: auto;
        grid-template-areas:
            "name class bkg        player-name"
            "name race  alignment  xp";

        @mixin title($title) {
            position: relative;
            height: ($font-size + $small-font-size) * $line-height + 3px;

            &::after {
                content: $title;
                display: block;
                font-size: $small-font-size;
                border-top: solid 1px lightgrey;
                position: absolute;
                bottom: 0;
                width: 100%;
                margin-bottom: 3px;
            }
        }

        .name {
            grid-area: name;
            font-size: $large-font-size;
        }

        .class-level {
            grid-area: class;

            @include title("Class & Level");
        }

        .background {
            grid-area: bkg;

            @include title("Background");
        }

        .player-name {
            grid-area: player-name;

            @include title("Player Name");
        }

        .race {
            grid-area: race;

            @include title("Race");
        }

        .alignment {
            grid-area: alignment;

            @include title("Alignment");
        }

        .xp {
            grid-area: xp;

            @include title("Experience Points");
        }
    }

    .prof-bonus {
        grid-area: prof;

        @include border;
        @include bottom-text("Proficiency Bonus");
        text-align: center;
        font-size: $large-font-size;
    }

    .stats {
        grid-area: stats;

        display: grid;
        row-gap: 10px;

        .stat {
            @include border;
            text-align: center;

            .title {
                display: block;
                font-variant: small-caps;
                font-size: $small-font-size;
            }

            .bonus {
                display: block;

                font-size: $large-font-size;
            }

            .value {
                display: block;
            }
        }
    }

    .skills {
        grid-area: skills;

        @include border;
        @include bottom-text('Skills');
        line-height: 1.4;
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .value {
            display: inline-block;
            width: 4ch;
            text-align: right;
        }

        .title {}
    }

    .combat {
        grid-area: combat;

        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-areas:
            "max-hp   max-hp   ac         ac          prof-bonus  prof-bonus"
            "hp       hp       hp         hp          initiative  initiative"
            "hp       hp       hp         hp          speed       speed"
            "hit-dice hit-dice hit-dice   death-saves death-saves death-saves";

        grid-gap: 10px;

        // align-self: start;
        .max-hp,
        .prof-bonus,
        .ac,
        .initiative,
        .speed {
            @include border;
            text-align: center;
            font-size: $large-font-size;
        }

        .ac {
            grid-area: ac;
            @include bottom-text("Armor Class");
        }

        .initiative {
            grid-area: initiative;
            @include bottom-text("Initiative");
        }

        .speed {
            grid-area: speed;
            @include bottom-text("Speed");
        }

        .hp {
            grid-area: hp;

            @include border;
            @include bottom-text("Current Hit Points");
        }

        .max-hp {
            grid-area: max-hp;

            @include border;
            @include bottom-text("Maximum Hit Points");
        }

        .prof-bonus {
            grid-area: prof-bonus;

            @include border;
            @include bottom-text("Proficiency Bonus");
        }

        .hit-dice {
            grid-area: hit-dice;

            @include border;
            @include bottom-text("Hit Dice");
        }

        .death-saves {
            grid-area: death-saves;

            @include border;
            @include bottom-text("Death Saves");
        }
    }

    .limited-features {
        grid-area: limited-features;

        @include border;
        @include bottom-text('Limited Features');

        table {
            border-collapse: collapse;

            th {
                font-size: $small-font-size;
                text-align: left;
                font-weight: inherit;
                color: lightgray;
            }

            tbody {
                tr:not(:last-child) {
                    td {
                        border-bottom: solid 1px lightgray;
                    }
                }
            }
        }
    }

    .items {
        grid-area: items;

        @include border;
        @include lined;
        @include bottom-text("Items");
    }

    .features {
        grid-area: features;

        @include border;
        @include lined;
        @include bottom-text("Features");
    }
}

.spells {
    grid-area: spells;
    column-count: 2;
    page-break-before: always;

    .spell {
        page-break-inside: avoid;
    }
}

@mixin clearfix {
    &::after {
        content: "";
        clear: both;
        display: table;
    }
}

.row {
    @include clearfix;
}

@for $i from 1 to 12 {
    .col-#{$i} {
        @include clearfix;
        width: $i / 12 * 100%;
        float: left;
    }
}