@import url("https://fonts.googleapis.com/css?family=Ubuntu&display=swap");

$font-size: 14px;
$small-font-size: $font-size * 0.75;
$large-font-size: $font-size * 2;
$line-height: 1.3;

$light: #666;

@mixin border {
    border: solid #ccc 4px;
    border-radius: 3px;
    padding: 4px;
}

@mixin bottom-text($text) {
    $top-padding: 5px;
    position: relative;
    padding-bottom: $small-font-size + $top-padding;

    &::after {
        content: $text;
        display: block;
        font-size: $small-font-size;
        position: absolute;
        bottom: 0;
        width: 100%;
        text-align: center;
        background-color: white;
        left: 0;
        padding-top: $top-padding;
    }
}

body {
    font-family: "Ubuntu", sans-serif;
    font-size: $font-size;

    -webkit-print-color-adjust: exact !important;

    @media screen {
        width: 8in;
    }

    h1 {
        font-size: 1.5em;
    }

    h2 {
        font-size: 1.25em;
    }
}

.character {
    display: grid;
    grid-template-columns: 0.25fr 0.75fr 1fr 1fr;
    // grid-template-rows: 64px 64px 128px 256px;
    grid-template-areas:
        "header     header     header     header"
        "stats      saves      combat     features"
        "stats      skills     combat     features"
        "stats      skills     combat     limited-features"
        "stats      skills     items      limited-features"
        "stats      skills     attacks    attacks"
        "spell-list spell-list spell-list spell-list";
    grid-row-gap: 10px;
    grid-column-gap: 10px;
    line-height: $line-height;

    header {
        grid-area: header;

        display: grid;

        // grid-template-columns: auto;
        // grid-template-rows: auto;
        grid-template-areas:
            "name class bkg        player-name"
            "name race  alignment  xp";

        @mixin title($title) {
            position: relative;
            height: ($font-size + $small-font-size) * $line-height + 3px;

            &::after {
                content: $title;
                display: block;
                font-size: $small-font-size;
                border-top: solid 1px lightgrey;
                position: absolute;
                bottom: 0;
                width: 100%;
                margin-bottom: 3px;
            }
        }

        .name {
            grid-area: name;
            align-self: center;
            font-size: $large-font-size;
        }

        .class-level {
            grid-area: class;

            @include title("Class & Level");
        }

        .background {
            grid-area: bkg;

            @include title("Background");
        }

        .player-name {
            grid-area: player-name;

            @include title("Player Name");
        }

        .race {
            grid-area: race;

            @include title("Race");
        }

        .alignment {
            grid-area: alignment;

            @include title("Alignment");
        }

        .xp {
            grid-area: xp;

            @include title("Experience Points");
        }
    }

    .prof-bonus {
        grid-area: prof;

        @include border;
        @include bottom-text("Proficiency Bonus");
        text-align: center;
        font-size: $large-font-size;
    }

    .stats {
        grid-area: stats;

        display: grid;
        row-gap: 10px;

        .stat {
            @include border;
            text-align: center;

            .title {
                display: block;
                font-variant: small-caps;
                font-size: $small-font-size;
            }

            .bonus {
                display: block;

                font-size: $large-font-size;
            }

            .value {
                display: block;
            }
        }
    }

    .saves {
        grid-area: saves;

        @include border;
        @include bottom-text("Saves");
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .save {
            .value {
                display: inline-block;
                width: 4ch;
                text-align: right;
            }

            .title {}
        }
    }

    .skills {
        grid-area: skills;

        @include border;
        @include bottom-text("Skills");
        display: flex;
        flex-direction: column;
        justify-content: space-between;

        .value {
            display: inline-block;
            width: 5ch;
            text-align: right;
        }

        .title {}
    }

    .combat {
        grid-area: combat;

        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas:
            "max-hp   ac          prof-bonus"
            "hp       hp          initiative"
            "hit-dice death-saves speed";

        grid-gap: 10px;

        // align-self: start;
        .max-hp,
        .prof-bonus,
        .ac,
        .initiative,
        .speed {
            @include border;
            text-align: center;
            font-size: $large-font-size;
        }

        .ac {
            grid-area: ac;
            @include bottom-text("Armor Class");
        }

        .initiative {
            grid-area: initiative;
            @include bottom-text("Initiative");
        }

        .speed {
            grid-area: speed;
            @include bottom-text("Speed");
        }

        .hp {
            grid-area: hp;

            @include border;
            @include bottom-text("Current Hit Points");
        }

        .max-hp {
            grid-area: max-hp;

            @include border;
            @include bottom-text("Maximum Hit Points");
        }

        .prof-bonus {
            grid-area: prof-bonus;

            @include border;
            @include bottom-text("Proficiency Bonus");
        }

        .hit-dice {
            grid-area: hit-dice;

            @include border;
            @include bottom-text("Hit Dice");
        }

        .death-saves {
            grid-area: death-saves;

            @include border;
            @include bottom-text("Death Saves");
        }
    }

    .limited-features {
        grid-area: limited-features;

        @include border;
        @include bottom-text("Limited Features");


    }

    .items {
        grid-area: items;

        @include border;
        @include bottom-text("Items");
    }

    .features {
        grid-area: features;

        @include border;
        @include bottom-text("Features");
    }

    .attacks {
        grid-area: attacks;
        @include border;

        @include bottom-text("Attacks");
    }

    .spell-list {
        grid-area: spell-list;
        @include border;

        @include bottom-text("Spells");

        columns: 4;

        h3 {
            margin: 0;
        }

        ul {
            list-style-type: none;
            padding: 0;
            margin: 0;
            margin-bottom: 10px;

            .concentration {
                position: relative;
                display: inline-block;
                color: white;
                font-weight: bold;
                margin-left: 2px;
                font-size: 12px;
                top: -1px;

                &::before {
                    content: ' ';
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 1em;
                    height: 1em;
                    background-color: black;
                    z-index: -1;
                    transform: translate(-1.5px, 1px) rotate(45deg);
                }
            }
        }
    }
}

.lists {
    page-break-before: always;

    .collapse {
        page-break-inside: avoid;

        .columns {
            column-count: 2;

            .column-item {
                $border-thickness: 2px;
                page-break-inside: avoid;

                border-top: solid $border-thickness;
                border-bottom: solid $border-thickness;
                margin-bottom: -$border-thickness;
            }
        }
    }
}

table {
    border-collapse: collapse;
    width: 100%;

    th {
        font-size: $small-font-size;
        text-align: left;
        font-weight: inherit;
        color: $light;
    }

    tbody {
        tr:not(:last-child) {
            td {
                border-bottom: solid 1px $light;
            }
        }

        .used {
            padding-left: 2ch;
            text-align: right;
        }
    }
}

.used {
    white-space: nowrap;

    .use {
        display: inline-block;
        border: solid 1px;
        width: 0.7em;
        height: 0.7em;

        &:not(:last-child) {
            margin-right: 2px;
        }
    }
}

.collapse {
    input {
        display: none;
    }

    input:not(:checked)+.collapse-header+.collapse-body {
        display: none;
    }

    h1 {
        background: #eee;
        border-radius: 4px;
        padding: 4px;
    }

    @media print {
        input:not(:checked)+.collapse-header {
            display: none;
        }
    }

    @media screen {

        .collapse-header::before {
            display: block;
            content: ' ';
            float: left;
            border-right: $light solid 1px;
            border-bottom: $light solid 1px;
            width: 0.5em;
            height: 0.5em;
            transform: rotate(-45deg);
            margin: calc(0.5em + 4px);
        }

        input:checked+.collapse-header::before {
            transform: rotate(45deg);
        }
    }
}